<div class="container">
  <h1>Contact Enquirey</h1>

  <p>
    <strong>Name : </strong> <%= @name %> <br>
    <strong>Email : </strong> <%= @email %> <br>
    <strong>Message : </strong> <br>
    <%= @comments %>
  </p>

</div>
