<%= render 'products/nav_bar' %>


<div class="container-fluid">
  <h2 class="text-center">Environment Care Products</h3>
  <div class="container-fluid">
    <div class="col-md-8"> <br> <br>
      <h4>
        <ul>
          <li>BIO GAS PLANT ORGANIC WASTE BASED</li>
          <li>SOLID WASTE MANAGEMENT  & DISPOSALS </li>
          <li>SEWAGE TREATMENT PLANTS</li>
          <li>LOW COST DRINKING WATER TREATMENT PLANTS</li>
        </ul>
      </h4>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha21" %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha4" %>
      </div>
    </div>

    <div class="col-md-8">
        <br>
        <h4>
          <ul>
            <li>GROUND WATER RECHARGING SYSTEMS</li>
            <li>OZONE GENERATORS FOR WATER STERILIZATION</li>
            <li>ROOFTOP GARDEN COMPLETE WITH AUTO / MANUAL WATERING PROVISION AND PREPARED SOIL</li>
            <li>ELECTRICAL / FUEL ENERGY CONSERVATION METHODS INCLUDING ENERGY AUDITS</li>
          </ul>
        </h4>
    </div>
  </div>

</div>
