<%= render 'products/nav_bar' %>



<div class="container-fluid">
  <h2 class="text-center">Metal Forming and Fabrications Products</h2>
  <div class="row">
    <div class="col-md-8"> <br> <br>
      <h4>
        <ul>
          <li>METAL DOOR FRAMES, WINDOW FRAMES FOR HOUSES</li>
          <li>ELECTRICAL PANELS  (POWER, CONTROL AND AUTOMATIONS, SUB-STATION, SOLAR)</li>
          <li>LIGHT WEIGHT METAL DOORS WITH NATURAL FINISH</li>
        </ul>
      </h4>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha31.jpg" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "shrestha6.jpg" %>
      </div>
    </div>

    <div class="col-md-8"> <br>
      <h4>
        <ul>
          <li>METAL UTILITY STRUCTRE SUCH AS – BED, SOLAR PANEL STRUCTURES, ROOFTOP GARDEN TRAY STANDS,
            SHADOW MAKING FRAMES</li>
          <li>SS HIGH QUALITY INNOVATIVE HOSPITAL FURNITURES</li>
          <li>METAL SEWAGE TANKS FOR BIOLOGICAL TREATMENT OF WASTE WATER</li>
        </ul>
      </h4>
    </div>
  </div>

</div>
