<!DOCTYPE html>
<html>
  <head>
    <title>Shrestha Solutions</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <meta name="description" content="shrestha solutions , shresthasolutions.com, shresthasolutions, shrestha solutions bbsr, shrestha solutions bhubaneswar,shrestha solutions odisha, shrestha solution,  renawable energy setting" />

     <meta name="keywords" content="shrestha solutions , shresthasolutions.com, shresthasolutions, shrestha solutions bbsr, shrestha solutions bhubaneswar,shrestha solutions odisha, shrestha solution,  renawable energy setting" />
     <meta name="robots" content="index, follow"/>

  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <%= yield %>

    <footer class="container-fluid text-center">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>

      <p>
        Site Developed and Maintained by <a href="http://www.innovadorslab.com" target="_blank"> Innovadors Lab</a>
      </p>
    </footer>

  </body>
</html>
